<div class="container">
    <div *ngIf="message.type === 'success'" class="alert alert-success" role="alert">
        {{ message.msg }}
        <span role="button" aria-hidden="true" (click)="clearMessage()"><i class="fa-solid fa-xmark"></i></span>
    </div>
    <div *ngIf="message.type === 'error'" class="alert alert-danger" role="alert">
        {{ message.msg }}
        <span role="button" aria-hidden="true" (click)="clearMessage()"><i class="fa-solid fa-xmark"></i></span>
            </div>
    <h2>Current Weather</h2>
    <div *ngIf="weatherData">
      <p>City: {{ weatherData.name }}</p>
      <p>Temperature: {{ weatherData.main.temp }} °C</p>
      <p>Weather: {{ weatherData.weather[0].main }}</p>
      <p>Description: {{ weatherData.weather[0].description }}</p>
    </div>
  
    <hr>
  
    <h2>Search Weather by City</h2>
    <input type="text" [(ngModel)]="city" placeholder="Enter city name">
    <button (click)="getWeatherByCity()">Search</button>
  
    <div *ngIf="weatherData">
      <p>City: {{ weatherData.name }}</p>
      <p>Temperature: {{ weatherData.main.temp }} °C</p>
      <p>Weather: {{ weatherData.weather[0].main }}</p>
      <p>Description: {{ weatherData.weather[0].description }}</p>
    </div>
  </div>
  